
h1{margin-left: 50px;
    padding-bottom: 30px;


}
.main-container { width: 450px;
    margin: 100px;
    padding: 100px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
    padding-bottom: 100px; 
    padding-top: 50px;

}




